spring:
  application:
    name: api
  datasource:
    url: jdbc:postgresql://localhost:5432/insights
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver