spring:
  application:
    name: api
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:superior}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
logging:
  level:
    root: WARN
    dev.lucasschotttler: INFO
server:
  error:
    include-message: never
    include-stacktrace: never
  port: 8080
  compression:
    enabled: true
api:
  key: ${API_KEY}
